.home-container {
  background-color: rgb(19, 19, 19);
  display: flex;
  height: 700px;
}
.home-left-side {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
.home-left-side:hover {
  width: 80%;
  transition: 0.6s ease-in;
  background: #1760a4;
}
.home-img-container {
  width: 330px;
  height: 300px;
  background-color: white;
  border-radius: 50%;
  margin-bottom: 4vh;
  border: 3px red solid;
}
.home-img-container:hover {
  width: 420px;
  height: 400px;
  transform: rotateX(360deg);
  transition: 0.9s ease-in-out;
}
.home-container .home-h3 {
  margin-top: 2vh;
  font-size: 1.4rem;
}
.home-img-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.home-span {
  color: red;
}
.home-right-side {
  height: 100%;
  width: 40%;
  background-color: rgb(23, 22, 22);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home-right-side:hover {
  width: 80%;
  transition: 0.8s ease-in;
  background-color: #53a2be;
}
.home-links-text {
  text-align: center;
  width: 80%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-links-text h1 {
  font-size: 2rem;
  margin-top: 10vh;
  color: white;
}
.home-links-socials {
  color: white;
  border-bottom: 1px solid #1d84b5;
  padding-bottom: 7px;
}
.home-links-socials:hover {
}
.home-links-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 40%;
  font-size: 5rem;
}
.home-links-icons a {
  text-decoration: none;
}
.home-links-icons i:hover {
  transition: 0.7s ease-in;
  transform: rotate3d(1, 1, 1, 360deg);
}
.home-links-icons i {
  color: white;
}
.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 40px;
  background-color: rgb(228, 218, 218);
}
.projects-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #06b1ef;
  border-bottom: 3px solid #06b1ef;
  padding-bottom: 5px;
}
.projects-content {
  width: 80%;
  padding: 20px;
  margin-top: 8vh;
  grid-gap: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.project-box {
  width: 300px;
  height: 250px;
  border-radius: 15px;
  margin-top: 4vh;
  box-shadow: 0 50px 100px 0 rgba(0, 0, 0, 0.2);
}
.project-box:hover {
  transform: scale(1.1);
  transition: 0.8s ease-in-out;
}
.project-box-img {
  width: 100%;
  height: 60%;
}
.project-box-img img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.project-box-text {
  width: 100%;
  height: 40%;
  padding: 10px;
  border-radius: 0 0 15px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.to-projects {
  margin-top: 5vh;
  font-size: 1.2rem;
  font-weight: 400;
  border-bottom: 3px solid #53a2be;
  padding-bottom: 5px;
}
.to-projects a {
  text-decoration: none;
  color: white;
  background-color: #53a2be;
  padding: 10px;
  border-radius: 5px;
}
.to-projects a:hover {
  background-color: #1760a4;
  transition: 0.8s ease-in;
}

@media only screen and (max-width: 1000px) {
  .projects-content {
    flex-direction: column;
  }
}

@media only screen and (max-width: 1000px) {
  .home-container {
    flex-direction: column;
    height: 100vh;
  }
  .home-left-side {
    width: 100%;
    height: 50%;
  }
  .home-right-side {
    width: 100%;
    height: 50%;
  }
  .home-left-side:hover {
    width: 100%;
  }
  .home-right-side:hover {
    width: 100%;
  }
  .home-links-text {
    height: 40%;
  }
  .home-links-icons {
    height: 60%;
  }
  .home-img-container:hover {
    width: 330px;
    height: 300px;
  }
}
