.header-container {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 40px;
  background: #0a2239;
}
.header-container ul {
  display: flex;
  margin-right: 8vw;
  gap: 15px;
  list-style-type: none;
}
.header-container a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
}
.header-container a:hover {
  color: #53a2be;
  border-bottom: 1px solid #1d84b5;
  padding-bottom: 7px;
}

@media only screen and (max-width: 1000px) {
  .header-container {
    justify-content: center;
    margin-right: 0;
  }
}
